body {
    margin: 0;
    background: url("../images/background.png");
    background-repeat: repeat;
}
/* header starts here */
#header {
    height: 74px;
    background: white;
    border-bottom: 2px solid rgb(206, 206, 206);
}

#insideheader {
    margin: 0 auto;
    top: 0;
    height: 74px;
    width: 1000px;
    position: center;
    background: white;
}

#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    padding: 20px;
    top: 0;
    font-size: 30px;
    color: white;
    background-color: rgb(153, 214, 211);
}

#navi {
    padding-top: 20px;
    right: 0;
}

#navi a:not(:first-child) {
    border-right: 1px solid rgb(153, 214, 211);
}

#navi a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    display: block;
    color: rgb(172, 172, 172);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

#navi a:hover {
    background-color: rgb(153, 214, 211);
    color: white;
}

/* body for 'about' page */
#main {
    min-height: 100vh;
    margin: 20px auto;
    width: 940px;
    background: white;
    padding: 0 30px 20px 30px;
}

#mainhead {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(153, 214, 211);
    border-bottom: 2px solid rgb(206, 206, 206);
    font-weight: bold;
}

#mainbody {
    font-size: 20px;
    color: rgb(172, 172, 172);
}

.textbody {
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: pre-wrap;
    line-height: 2;
}

#face {
    margin: 0px 20px 20px 0px;
    float: left;
}

/* body for 'contact' page */

#contactform {
    white-space: pre-line;
}

label {
    color: rgb(172, 172, 172);

}

input[type=text], textarea {
    width: 920px;
    resize: vertical;
    margin: 5px 0 5px 0;
    border: 1px solid rgb(172, 172, 172);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

input[type=submit] {
    background-color: rgb(153, 214, 211);
    color: white;
    border: 0px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: rgb(114, 160, 158);
}

/* body for 'portfolio' page */

#bucket {
    width: 65%;
}

.column {
    position: relative;
    background-color: black;
    margin: 20px 0;
    width: 45%;
    float: left;
    height: 200px;
}

.column:nth-of-type(even) {
    float: right;
}

.column h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(114, 160, 158);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#proj1 {
    background-color: aqua;
    /* background: url('../assets/images/background.png'); */
    background-size: cover;
    background-repeat: no-repeat;
}

 #proj2 {
    background: url("../assets/images/trivia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} 
/*

#proj3 {
    background: url("../assets/images/Rock-Paper-Scissors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#proj4 {
    background: url("../assets/images/rpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#proj5 {
    background: url("../assets/images/app.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */ 

/* footer starts here */
#footer {
    margin-top: 10;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 5px solid rgb(129, 182, 185);
    background-color: rgb(110, 110, 110);
    height: 50px;
    text-align: center;
}

#foottext {
    color: white;
    font-size: 8px;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
}