body {
    margin: 0;
    background-color: rgb(206, 206, 206);
}
.header {
    height: 74px;
    background: white;
    border-bottom: 1px solid black;
}

.insideheader {
    margin: 0 auto;
    position: relative;
    top: 0;
    height: 74px;
    width: 1000px;
    position: center;
    background: white;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    float: left;
    padding: 20px;
    top: 0;
    font-size: 30px;
    color: white;
    background-color: rgb(153, 214, 211);
}

.nav {
    padding: 20px;
    right: 0;
    overflow: hidden;
}

.nav a {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(153, 214, 211);
    color: white;
}


.main{
    border: 1px black;
    margin: 0px auto;
    width: 100px;
    height: 100px;
    background: white;
}

.mainhead{
    font-family: 'Courier New', Courier, monospace;
    float: left;
    padding: 20px;
    top: 0;
    font-size: 30px;
    color: white;
    background-color: rgb(153, 214, 211);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 5px solid rgb(73, 127, 131);
    background-color: rgb(107, 107, 107);
    height: 50px;
    text-align: center;
}

.foottext {
    color: white;
    font-size: 8px;
    padding-top: 25px;
    font-family: 'Courier New', Courier, monospace;
}